---
const {
  title,
  img = "/images/ogp/ogp.png", // デフォルト画像（public配下）
  desc,
  url,
  badge,
  tags,
  pubDate,
  target = "_self"
} = Astro.props;

// 日付整形
const formattedDate = pubDate
  ? new Date(pubDate).toLocaleDateString("ja-JP")
  : "";
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row gap-4">
      <img
        src={img}
        alt={title}
        class="w-full md:w-[13rem] h-auto rounded-lg object-cover"
        loading="lazy"
      />
      <div class="grow w-full">
        <h1 class="text-xl font-bold text-blue-800">
          {title}
          {badge && <span class="badge badge-secondary ml-2">{badge}</span>}
        </h1>

        {formattedDate && (
          <p class="text-sm text-gray-500 mt-1">投稿日：{formattedDate}</p>
        )}

        <p class="py-1 text-base text-gray-800">{desc}</p>

        {tags?.length && (
          <div class="card-actions justify-start mt-2 flex flex-wrap gap-2">
            {tags.map((tag) => (
              <a href={`/tags/${tag}`} class="badge badge-outline">
                {tag}
              </a>
            ))}
          </div>
        )}
      </div>
    </div>
  </a>
</div>
